body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1em 0;
}

nav {
	background-color: #444;
	text-align: center;
	padding: 0.5em 1em;
	margin-top: 2px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 10px;
}

nav ul li a {
	color: white;
}

main {
	padding: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1em 0;
	position: fixed;
	width: 100%;
	bottom: 0;
}

#signup,
#login {
	display: flex;
	flex-direction: column;
	width: 40%;
	gap: 8px;
}

#signup-h2,
#login-h2 {
	display: flex;
	justify-content: center;
	color: black;
}
form {
	display: flex;
	justify-content: center;
}

a:link,
a:visited {
	text-decoration: none;
	color: white;
}

#cookie-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#cookie {
	background-size: contain;
	width: 200px;
	height: auto;
}

#black_link {
	color: black;
}
